@model CinemaWeb.Areas.Admin.Models.PhimModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PhimModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenPhim" class="control-label"></label>
                <input asp-for="TenPhim" class="form-control" />
                <span asp-validation-for="TenPhim" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Poster" class="control-label"></label>
                    <input asp-for="Poster" class="form-control" />
                    <span asp-validation-for="Poster" class="text-danger"></span>
                </div>*@
            <div class="custom-file">
                <input type="file" name="ful" id="ful" class="custom-file-input" />
                <label class="custom-file-label" for="ful">Choose  file</label>
            </div>
            <div class="form-group">
                <img id="imgPre" src="~/img/post/no_img.jpg" alt="no img" class="img-thumbnail" />
            </div>
            <div class="form-group">
                <label asp-for="DaoDien" class="control-label"></label>
                <input asp-for="DaoDien" class="form-control" />
                <span asp-validation-for="DaoDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trailer" class="control-label"></label>
                <input asp-for="Trailer" class="form-control" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiLuong" class="control-label"></label>
                <input asp-for="ThoiLuong" class="form-control" />
                <span asp-validation-for="ThoiLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <input asp-for="NoiDung" class="form-control" />
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuocGia" class="control-label"></label>
                <input asp-for="QuocGia" class="form-control" />
                <span asp-validation-for="QuocGia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TheLoai" class="control-label"></label>
                <select asp-for="TheLoai" class="form-control" asp-items="ViewBag.TheLoai"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayKhoiChieu" class="control-label"></label>
                <input asp-for="NgayKhoiChieu" class="form-control" />
                <span asp-validation-for="NgayKhoiChieu" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function readURL(input, idImg) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $(idImg).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
        $("#ful").change(function () {
            readURL(this, '#imgPre');
        });
    </script>

}
