<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        ProShowz a Entertainment Category Bootstrap Responsive Website Template | Home
        :: W3layouts
    </title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/user/css/style-starter.css">
    <link href="~/user/css/bootstrap.css" rel="stylesheet" />
</head>
