
<section class="w3l-main-slider position-relative" id="home">
    <div class="companies20-content">
        <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <h3>Latest Movie Trailers</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
                                        Consequuntur hic odio
                                        voluptatem tenetur consequatur.
                                    </span>
                                </p>
                                <a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/358205676" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Online Movies</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
                                        Consequuntur hic odio
                                        voluptatem tenetur consequatur.
                                    </span>
                                </p>
                                <a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/395376850" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Movie Trailers</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
                                        Consequuntur hic odio
                                        voluptatem tenetur consequatur.
                                    </span>
                                </p>
                                <a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/389969665" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <h3>Latest Online Movies</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
                                        Consequuntur hic odio
                                        voluptatem tenetur consequatur.
                                    </span>
                                </p>
                                <a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
                                    <span class="video-play-icon">
                                        <span class="fa fa-play"></span>
                                    </span>
                                    <h6>Watch Trailer</h6>
                                </a>
                                <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                                <div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
                                    <iframe src="https://player.vimeo.com/video/323491174" allow="autoplay; fullscreen"
                                            allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
        </div>
    </div>
</section>
<!-- //banner-slider-->
<!-- main-slider -->
<!--grids-sec1-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Trailer Movies</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="#">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                <div class="item vhny-grid">
                    <div class="box16">
                        <a href="https://www.youtube.com/embed/uOvWB-I7fN8">
                            <figure>
                                <img class="img-fluid" src="~/user/images/VioletVergarden.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Violet Evergarden</h3>
                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 2 Hr

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16">
                        <a href="https://www.youtube.com/embed/PqNGHKLyPD0">
                            <figure>
                                <img class="img-fluid" src="~/user/images/TiecTrangMau.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Tiệc trăng máu</h3>
                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 32min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16">
                        <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">
                            <figure>
                                <img class="img-fluid" src="~/user/images/Rom.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Ròm</h3>
                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 19min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16">
                        <a href="https://www.youtube.com/embed/PCK1929UvvQ">
                            <figure>
                                <img class="img-fluid" src="~/user/images/Frozen2.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Frozen II</h3>
                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 43min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//grids-sec1-->
<!--grids-sec2-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-3">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">New Releases</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="#">Show all</a></h4>
                    </div>
                </div>
            </div>
            <div class="owl-three owl-carousel owl-theme">
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/uOvWB-I7fN8">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/VioletVergarden.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 2 Hr

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Violet Evergarden</a></h3>
                    <p>Câu chuyện xoay quanh những Búp bê ghi chép tự động búp bê được tạo ra bởi Dr. Orland để giúp người vợ mù...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>

                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/PqNGHKLyPD0">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/TiecTrangMau.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 32min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Tiệc trăng máu</a></h3>
                    <p>Một nhóm bạn thân chơi với nhau gần 40 năm tụ họp lại với nhau trong một buổi tiệc tân gia. Cùng với những...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/WvOgvFtcIAw">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/TheCroods2.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 36min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">THE CROODS 2: A NEW AGE</a></h3>
                    <p>Sinh tồn trong một thế giới tiền sử luôn rình rập hiểm nguy từ đủ loài quái thú hung dữ...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/DbDdy3j1jBU">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/BanDaoPeninsula.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 56min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Bán đảo Peninsula</a></h3>
                    <p>Quyết định đâm đầu vào chỗ chết, cựu quân nhân Jung Seok trở lại bán đảo vì số tiền hậu hĩnh lên đến 2,5 triệu USD...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>

                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/o1LlKT1fNPA">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/BiMatCuaGio.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 54min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Bí Mật Của Gió</a></h3>
                    <p>Bí Mật Của Gió kể câu chuyện tình lãng mạn giữa cô bé tinh nghịch hồn nhiên và hồn ma đến từ quá khứ...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/LLwIqcjMp8c">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/TraiTimQuaiVat.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 29min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Trái Tim Quái Vật</a></h3>
                    <p>Khánh là một người mẹ đơn thân. Mong muốn sống và làm ăn lương thiện của cô bị thử thách khi chẳng may vướng vào vòng xoáy tội ác...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/PCK1929UvvQ">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/Frozen2.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 43min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Frozen II (2019)</a></h3>
                    <p>Frozen lấy cảm hứng từ câu chuyện Nữ Hoàng Tuyết được nhà văn Andersen chắp bút nhưng nội dung hoàn toàn khác...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/Rom.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 19min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Ròm</a></h3>
                    <p>Lấy bối cảnh một khu chung cư cũ đang chờ giải tỏa tại Sài Gòn, Ròm kể câu chuyện về cuộc sống của những người dân lao động...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/jiHzd87NpNM">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/DiepVienSieuLay.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 41min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Điệp Viên Siêu Lầy</a></h3>
                    <p>Câu chuyện theo chân Jason Jones (Dave Bautista) biệt danh là JJ, anh là một điệp viên CIA chuyên nghiệp...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <a href="https://www.youtube.com/embed/Ny5X2qtIyTw">
                            <figure>
                                <img class="img-fluid" style="width:220px;height:300px" src="~/user/images/MaiBenEm-Endless.jpg" alt="">
                            </figure>
                            <div class="box-content">

                                <h4>
                                    <span class="post">
                                        <span class="fa fa-clock-o"> </span> 1 Hr 35min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <h3> <a class="title-gd" asp-action="Detail">Mãi Bên Em -  Endless</a></h3>
                    <p>Hai học sinh tốt nghiệp trung học có tình cảm với nhau Riley (Alexandra Shipp) và Chris bị ngăn cách bởi một tai nạn thảm thốc...</p>
                    <div class="button-center text-center mt-4">
                        <a asp-action="Detail" class="btn watch-button">Details</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--grids-sec2-->
<!--/tabs-->
<section class="w3l-albums py-5" id="projects">
    <div class="container py-lg-4">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <!--Horizontal Tab-->
                <div id="parentHorizontalTab">
                    <ul class="resp-tabs-list hor_1">
                        <li>Recent Movies</li>
                        <li>Popular Movies</li>
                        <div class="clear"></div>
                    </ul>
                    <div class="resp-tabs-container hor_1">
                        <div class="albums-content">
                            <div class="row">
                                <!--/set1-->
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">

                                                <img style="width:160px;height:230px" src="~/user/images/Rom.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Ròm</a>
                                            <p>Trần Thanh Huy</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 19min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/PqNGHKLyPD0">

                                                <img style="width:160px;height:230px" src="~/user/images/TiecTrangMau.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Tiệc trăng máu</a>
                                            <p>Nguyễn Quang Dũng</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 32min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/WvOgvFtcIAw">

                                                <img style="width:160px;height:230px" src="~/user/images/TheCroods2.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">THE CROODS 2</a>
                                            <p>Joel Crawford</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 36min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <!--//set1-->
                                <!--/set1-->
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">

                                                <img style="width:160px;height:230px" src="~/user/images/BanDaoPeninsula.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Bán đảo Peninsula</a>
                                            <p>Yeon Sang Ho</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 56min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/o1LlKT1fNPA">

                                                <img style="width:160px;height:230px" src="~/user/images/BiMatCuaGio.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Bí Mật Của Gió</a>
                                            <p>Nguyễn Phan Quang Bình</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 54min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/Ny5X2qtIyTw">

                                                <img style="width:160px;height:230px" src="~/user/images/MaiBenEm-Endless.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Mãi Bên Em -  Endless</a>
                                            <p>Scott Speer</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 19min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <!--//set1-->
                                <!--/set1-->
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/jiHzd87NpNM">

                                                <img style="width:160px;height:230px" src="~/user/images/DiepVienSieuLay.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Điệp Viên Siêu Lầy</a>
                                            <p>Peter Segal</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 19min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">

                                                <img style="width:160px;height:230px" src="~/user/images/TraiTimQuaiVat.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Trái Tim Quái Vật</a>
                                            <p>Tạ Nguyên Hiệp</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 29min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">

                                                <img style="width:160px;height:230px" src="~/user/images/VioletVergarden.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Violet Evergarden</a>
                                            <p>Fujita Haruka</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 2 Hr

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <!--//set1-->
                            </div>
                        </div>
                        <div class="albums-content">
                            <div class="row">
                                <!--/set1-->
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">

                                                <img style="width:160px;height:230px" src="~/user/images/Rom.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Ròm</a>
                                            <p>Trần Thanh Huy</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 19min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/PqNGHKLyPD0">

                                                <img style="width:160px;height:230px" src="~/user/images/TiecTrangMau.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Tiệc trăng máu</a>
                                            <p>Nguyễn Quang Dũng</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 32min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                
                                <!--//set1-->
                                <!--/set1-->
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">

                                                <img style="width:160px;height:230px" src="~/user/images/BanDaoPeninsula.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Bán đảo Peninsula</a>
                                            <p>Yeon Sang Ho</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 56min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/o1LlKT1fNPA">

                                                <img style="width:160px;height:230px" src="~/user/images/BiMatCuaGio.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Bí Mật Của Gió</a>
                                            <p>Nguyễn Phan Quang Bình</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 54min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <!--//set1-->
                                <!--/set1-->
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/jiHzd87NpNM">

                                                <img style="width:160px;height:230px" src="~/user/images/DiepVienSieuLay.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Điệp Viên Siêu Lầy</a>
                                            <p>Peter Segal</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 19min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 new-relise-gd mt-lg-0 mt-0">
                                    <div class="slider-info">
                                        <div class="img-circle">
                                            <a href="https://www.youtube.com/embed/XRm1P7oGpMQ">

                                                <img style="width:160px;height:230px" src="~/user/images/TraiTimQuaiVat.jpg" class="img-fluid"
                                                     alt="author image">
                                                <div class="overlay-icon">

                                                    <span class="fa fa-play video-icon" aria-hidden="true"></span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="message">
                                            <a class="author-book-title" asp-action="Detail">Trái Tim Quái Vật</a>
                                            <p>Tạ Nguyên Hiệp</p>
                                            <h4>
                                                <span class="post">
                                                    <span class="fa fa-clock-o"> </span> 1 Hr 29min

                                                </span>

                                                <span class="post fa fa-heart text-right"></span>
                                            </h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            </div>
                        
                                <!--//set3-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>