@model CinemaWeb.Areas.Admin.Models.GheModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Ghế</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaGhe" />
            <div class="form-group">
                <label asp-for="MaPhong" class="control-label">Mã Phòng</label>
                <select asp-for="MaPhong" class="form-control" asp-items="ViewBag.MaPhong"></select>
                <span asp-validation-for="MaPhong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LichChieu" class="control-label">Lịch Chiếu</label>
                <select asp-for="LichChieu" class="form-control" asp-items="ViewBag.LichChieu"></select>
                <span asp-validation-for="LichChieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label">Trạng Thái</label>
                <input asp-for="TrangThai" class="form-control" />
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
