@model CinemaWeb.Areas.Admin.Models.VeModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaVe" />
            <div class="form-group">
                <label asp-for="Phim" class="control-label"></label>
                <select asp-for="Phim" class="form-control" asp-items="ViewBag.Phim"></select>
                <span asp-validation-for="Phim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaVe" class="control-label"></label>
                <input asp-for="GiaVe" class="form-control" />
                <span asp-validation-for="GiaVe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phong" class="control-label"></label>
                <select asp-for="Phong" class="form-control" asp-items="ViewBag.Phong"></select>
                <span asp-validation-for="Phong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ghe" class="control-label"></label>
                <select asp-for="Ghe" class="form-control" asp-items="ViewBag.Ghe"></select>
                <span asp-validation-for="Ghe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suat" class="control-label"></label>
                <select asp-for="Suat" class="form-control" asp-items="ViewBag.Suat"></select>
                <span asp-validation-for="Suat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <select asp-for="User" class="form-control" asp-items="ViewBag.User"></select>
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayMua" class="control-label"></label>
                <input asp-for="NgayMua" class="form-control" />
                <span asp-validation-for="NgayMua" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> @Html.DisplayNameFor(model => model.TrangThai)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
