@model CinemaWeb.Areas.Admin.Models.LichChieuModel

@{
    ViewData["Title"] = "Edit";
}
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <h4 style="text-align:center">@(ViewContext.RouteData.Values["id"] != null ?"chỉnh sửa phòng chiếu":"thêm phòng chiếu mới")</h4>
        </div>
        <div class="card-body">
            <!--nội dung-->
            <div class="col-md-12">
                <form asp-action="AddOrEdit" asp-route-id="@(ViewContext.RouteData.Values["id"] != null ?ViewContext.RouteData.Values["id"]:"0")">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @{
                        if (ViewContext.RouteData.Values["id"] != null)
                        {
                            <input type="hidden" asp-for="MaLichChieu" />
                        }
                    }
                    <div class="form-group">
                        <label asp-for="Phim" class="control-label"></label>
                        <select asp-for="Phim" class="form-control" asp-items="ViewBag.MaPhim"></select>
                        <span asp-validation-for="Phim" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phong" class="control-label"></label>
                        <select asp-for="Phong" class="form-control" asp-items="ViewBag.MaPhong"></select>
                        <span asp-validation-for="Phong" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NgayChieu" class="control-label"></label>
                        <input asp-for="NgayChieu" class="form-control" />
                        <span asp-validation-for="NgayChieu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ThoiGian" class="control-label"></label>
                        <input asp-for="ThoiGian" class="form-control" />
                        <span asp-validation-for="ThoiGian" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="SoGheTrong" value="180" />
                    <input type="hidden" asp-for="TrangThai" value="true" />
                    <div class="form-group">
                        <input type="submit" value="@(ViewContext.RouteData.Values["id"] != null ?"Cập nhật":"Thêm mới")" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-secondary">Trở lại</a>
                    </div>
                </form>
            </div>
            <!---->
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
